// Brand color.
$baseColor: #26293b;
// Heading level 1.
$title1: #222222;
// Heading level 2.
$title2: #666666;
// Heading level 3.
$title3: #999999;
// Line/divider color.
$lineColor: #ededed;
// Anchor color.
$aColor: #4d71ff;
